.intro {
    width: 100%;
    height: 900px;
    padding-top: 50px;
    background: url(../css/img/riskychan.jpg) #F7F7F7 center;
    background-position: center 35px;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
}
