<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>risky style</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Homepage, fill this later">
        <meta name="author" content="David Ko">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/kube.min.css" />
    	<link rel="stylesheet" href="css/font-awesome.min.css" />
    	<link rel="stylesheet" href="css/homepage_style.min.css" />
        <link rel="stylesheet" type="text/css" href="./css/homepage_style.css">
        <script type="text/javascript" src="C:\Users\david\Github\wheelrebuilder\Areas\Controller\homepage_controller.js"></script>
    </head>

<body>

	<!-- nav bar -->
	<div class="nav-bar">
		<div class="container">
			<header class="group top-nav">
				<nav class="navbar logo-w navbar-left" >
					<a class="logo" href="index.html">RISKY! style</a>
				</nav>
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo">RISKY! style</span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav navbar-right">
				    <ul>
				        <li class="active"><a href="index.html"><b>Home</b></a></li>
				        <li><a href="about.html"><b>About / Contact</b></a></li>
						<li><a href="#"><b>Shop</b></a></li>
						<li><a href="wheelrebuilder.html"><b>Wheel Rebuilder</b></a></li>
						<li><a href="offsetcalculator.html"><b>Offset Calculator</b></a></li>
				    </ul>
				</nav>
			</header>
		</div>
	</div>


	<!-- banner intro -->
	<div class="intro">



	</div>
	

</body>


</html>